.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 3px;
  padding: 20px;
  overflow-wrap: anywhere;
}

.content-main {
  width: 100%;
  overflow-wrap: anywhere;
}

.content-subtitle {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.comment-author {
  font-weight: 500;
}
