.post {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title {
  padding: 10px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.content {
  padding: 20px;
}
